{% extends 'base.html' %} 

{% load bootstrap_tags %}

{% block page_title %}Password Reset Page{% endblock %} 

{% block page_heading %}Password Reset Page{% endblock %}

{% block content %}
<hr>

<div>

<form method="post">
    <p class="text-center">Please enter your email address to recieve the password reset form.</p>
    <br>

    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>

    {{ form.email.errors }}

    <p class="text-center">
        <label for="id_email">Email Address:</label> 
        {{ form.email }}
        <button type="submit" class="btn btn-success mb-3 mt-2">Reset Password!</button>

    </p>

</form>

</div>
{% endblock %}