{% extends "base.html" %}

{% load humanize %}

{% block content %}
   
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-white post justify-content-center">
                        <div class="post-heading">
                            <div class="float-left image">

                            {% if post.image %}

                             <img src="{{ post.image.url }}" class="rounded-circle avatar img-thumbnail" width="400" height="400" alt="profile-image">

                                <!-- <img class="img-circle avatar" src="url('{{ MEDIA_URL }}{{post.image}}" alt="Post Image"> -->

                               
                        
                        <!-- <div><img class="card-img-top mb-3" src="url('{{ MEDIA_URL }}{{post.image}}" alt="Cover for {{ book.book_title }}"></div> -->
                            
                            {% else %}
                            
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">

                            {% endif %}

                            </div>
                            <div class="float-left meta">
                            <div class="title h3">
                                    {{ post.title }}</div>

                                <div class="title h5">
                                    posted by <a href="#"><b>{{ post.author }}</b></a>
                                    
                                </div>
                                <h6 class="text-muted time">{{ post.published_date|naturaltime }}</h6>
                            </div>
                        </div> 
                        <div class="post-description"> 
                            <p>{{ post.content }}</p> 
                        </div>
                        <div class="div">
                        <p><span class="text-muted">Views:</span> {{post.views}}</p>
                        <p><span class="text-muted">Tag:</span> {{ post.tag }}</p>
                        </div>

                        {% if user.is_authenticated and user == post.author %}

                        <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Post</a>

                        <!-- <a href="{% url 'delete_posts' post.id %}" class="btn btn-danger" role="button"> Delete Post</a> -->

                        <button type="button" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target="#centralModalDanger">Delete Post
                        </button>
 
 
                            <!-- Central Modal Medium Danger -->
                            <div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-notify modal-danger" role="document">
                                <!--Content-->
                                <div class="modal-content">
                                    <!--Header-->
                                    <div class="modal-header">
                                    <p class="heading lead">Delete this Post</p>
                            
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text">&times;</span>
                                    </button>
                                    </div>
                            
                                    <!--Body-->
                                    <div class="modal-body">
                                    <div class="text-center">
                                        <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                                        <p>Be careful. Once you delete your post, you cannot undo it!</p>
                                    </div>
                                    </div>
                            
                                    <!--Footer-->
                                    <div class="modal-footer justify-content-center">
                                    <a href="{% url 'delete_posts' post.id %}" type="button" class="btn btn-danger">Delete<i class="far fa-gem ml-1 text-white"></i></a>
                                    <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</a>
                                    </div>
                                </div>
                                <!--/.Content-->
                                </div>
                            </div>
                            <!-- Central Modal Medium Danger-->

                        {% elif user.is_authenticated and user.is_superuser %}

                        <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Post</a>

                        <!-- <a href="{% url 'delete_posts' post.id %}" class="btn btn-danger" role="button" >Delete Post</a> -->

                        <button type="button" class="btn btn-danger waves-effect waves-light " data-toggle="modal" data-target="#centralModalDanger">Delete Post
                        </button>
 
 
                            <!-- Central Modal Medium Danger -->
                            <div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-notify modal-danger" role="document">
                                <!--Content-->
                                <div class="modal-content">
                                    <!--Header-->
                                    <div class="modal-header">
                                    <p class="heading lead">Delete this Post</p>
                            
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text">&times;</span>
                                    </button>
                                    </div>
                            
                                    <!--Body-->
                                    <div class="modal-body">
                                    <div class="text-center">
                                        <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                                        <p>Be careful. Once you delete your post, you cannot undo it!</p>
                                    </div>
                                    </div>
                            
                                    <!--Footer-->
                                    <div class="modal-footer justify-content-center">
                                    <a href="{% url 'delete_posts' post.id %}" type="button" class="btn btn-danger">Delete<i class="far fa-gem ml-1 text-white"></i></a>
                                    <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</a>
                                    </div>
                                </div>
                                <!--/.Content-->
                                </div>
                            </div>
                            <!-- Central Modal Medium Danger-->
                        {% endif %}

                        <a href="{% url 'retrieve_posts' %}" class="btn btn-default">Back to Blog</a>
                        
                    </div>
                </div>
                
            </div>
        </div>

   
 {% endblock %}  
   
   
 
