{% extends 'base.html' %} 

{% load bootstrap_tags %}

{% block page_title %}User Post Form Page{% endblock %} 

{% block page_heading %}Add a New Post{% endblock %}

    {% block content %}
    <div class="text-center mb-4 mt-4">
        
        <h5>What's on your mind {{ user }}?</h5>

    </div>

    <hr>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info">Save</button>
    </form>

    <p><a class="mt-2 btn btn-outline-secondary" href="{% url 'retrieve_posts' %}">Return</a></p>
    {% endblock %}
