{% extends 'base.html' %} 

{% load bootstrap_tags %}

{% load humanize %}

{% block page_title %}User Posts{% endblock %} 

{% block page_heading %}User Posts {% endblock %}

{% block content %}
<hr>
<p class="text-center mb-4 mt-3" style="color: grey; font-weight: bold; font-size: 14px;"> {{ user }}, check out all our members posts, stories, issues and questions below! Feel free to start <a href="{% url 'new_post' %}">posting</a> and liking!</p>
       
    
    {% for post in posts %}

    <div class="mt-2 mb-2" style="border-top: 6px solid purple"></div>
            
        <div class="container">
            <div class="row justify-content-center">
                <div class="col userposts_col p-2">
                    <div class="card card-white post">
                        <div class="post-heading">
                            <div class="text-center p-1 image">

                            {% if post.image %}

                                <!-- <img class="rounded-circle avatar img-thumbnail" width="400" height="400" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}')" alt="Post Image"> -->

                                <img src="{{ post.image.url }}" class="rounded-circle avatar-xl img-thumbnail m-2" width="250" height="250" alt="Post Image">

                            
                            {% else %}

                            <!-- <img src="img_avatar.png" alt="Avatar" class="avatar"> -->
                            
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-xl img-thumbnail m-2" width="250" height="250" alt="profile-image">
                                
                            {% endif %}
                            </div>
                            <div class="card-body text-center">
                                <div class="title h3 p-2">
                                        <p>{{ post.title }}</p>
                                    </div>

                                    <div class="title h5">
                                        posted by <a href="#"><b>{{ post.author }}</b></a>
                                        
                                    </div>

                                <h6 class="text-muted time">{{ post.published_date|naturaltime }}</h6>
                            </div>
                        </div> 
                        <hr>
                        <div class="post-description p-2"> 
                            <p>{{ post.content |truncatewords:30|linebreaks}}</p> 
                        </div>
                        <hr>
                        <div class="div text-center mb-2">
                        <a href="{% url 'post_info' post.id %}" class="btn btn-success mt-2 mb-2">View Post in Detail</a>
                        <a href="{% url 'index' %}" class="btn btn-info">Back to Home</a>
                        
                        </div>
                        
                        
                        
                    </div>
                </div>
                
            </div>

            
        </div>


    {% endfor %}

            <a id="back-to-top" href="#" class="btn btn-outline-success back-to-top" role="button" style="color:green; display: inline;"><i class="fas fa-chevron-up"></i></a>

            <div class="text-center mt-3 mb-3">
                <a href="{% url 'new_post' %}" class="btn btn-outline-success btn-lg">Add a New Post</a>
            </div>
                
    <hr>

        {% if posts.has_other_pages %}
            <nav aria-label="pagination">
                <ul class="pagination pg-purple mb-2 mt-2 justify-content-center">
                    {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                {% for i in posts.paginator.page_range %}

                    {% if posts.number == i %}
                        <li class="page-item waves-effect"><span class="page-link">{{ i }} <span class="page-link sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}

                {% endfor %}

                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
                </ul>
            </nav>
        {% endif %}

{% endblock %}