{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    {% for product in products %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="card-container mb-2 mt-2 p-2">
                    <div class="card" style="width: 18rem;">
                
                        <!-- <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div> -->

                        <img src="{{ product.image.url }}" class="rounded-circle avatar-xl img-thumbnail" width="400" height="400" alt="profile-image">

                        <h3>{{ product.name }}</h3>
                        <p class="product-description">{{ product.description }}</p>
                    
                        <p>{{ product.price }}</p>    

                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form> 
                    </div>
                </div>     
            </div> 
        </div> 

    {% endfor %}
</div>

        {% if products.has_other_pages %}
            <ul class="pagination mb-2 mt-2 pagination-lg justify-content-center">
                {% if products.has_previous %}
                <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

            {% for i in products.paginator.page_range %}

                {% if products.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}

            {% endfor %}

            {% if products.has_next %}
                <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
{% endblock %}