
body {
    
    padding:0px;
    margin:0px;
    font-family: 'Roboto Mono', monospace; 
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    /* margin-bottom: 10px; */
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    
}

/* .base-footer {
   position: absolute;
   margin-top: 40px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #9fdf9f;
   color: white;
   text-align: center;
} */

.footer {

    clear: both;
    position: relative;
    z-index: 1;
    height: 6em;
    margin-top: 22em;
    background-color: #296e01;
    color: white;

}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;

}


 .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .card {

      padding: 1px;
      border-radius: .25rem;
  }

.userposts_col {

    padding-top: 10px;
    padding-bottom: 10px;

}

/*  products section added */

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

/*  landing page scroll button */

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

