{% extends 'base.html' %} 

{% block page_title %}Home Page{% endblock %} 

{% block page_heading %}Home{% endblock %}
         <!-- messes refers to value in dict on views.py -->


    {% block content %}
        
        
        <!-- {% for messi in messes %}  
            <table>
            <tr>
                {% if messi.done %}
                <td><strike>{{ messi.name }}</strike></td>
                {% else %}
                <td>{{ messi.name }}</td>
                {% endif %}
            </tr>
            </table>
            {% empty %}
            <p>You're done pal</p>
        {% endfor %} -->

    {% endblock %}

</body>
</html> 