{% extends 'base.html' %} 

{% load bootstrap_tags %}

{% load humanize %}

{% block page_title %}{{ user }}'s Profile Page{% endblock %} 

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}
<hr>
<!-- <h3 class="justify text-center"> Here is {{ user }}'s details: </h3> -->
<!-- <p>{{ profile.email }} </p> -->

{% if user.is_superuser %}
<div class="justify text-center mb-3">
    <p class="justify text-center mb-3">Hello, admin,</p>
    <p> You last logged in on {{ user.last_login|naturaltime }} </p>
</div>
{% else %}
<div class="justify text-center mb-3">
    <p >Hello there {{ user }},</p>
    <p> You last logged in on {{ user.last_login|naturaltime }} </p>
</div>

{% endif %}



<div class="card-box text-center">

            {% if user.profile.image %}

            <img src="{{ user.profile.image.url }}" class="rounded-circle avatar-xl img-thumbnail img-fluid" alt="profile-image">

            {% else %}
            <!-- in case default.png doesn't work in model -->
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image">
            
            {% endif %}

            <h4 class="m-2">@{{ user }}</h4>

            <p class="text-muted m-2">Machine id: {{ user.id }}</p>

            <hr>
            
            <!-- {% if user.is_superuser %}
            <button type="button" class="btn btn-danger btn-xs waves-effect mb-2 waves-light">Delete</button>
            {% else %}
                
            {% endif %} -->

                {% if user.is_authenticated and request.user.id %}
                    
                   

                    <button type="button" class="btn btn-danger btn-xs mb-2 waves-effect waves-light" data-toggle="modal" data-target="#centralModalDanger">Delete 
                    </button>



                        <!-- Central Modal Medium Danger -->
                        <div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-notify modal-danger" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header">
                                <p class="heading lead">Delete User</p>
                        
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                </button>
                                </div>
                        
                                <!--Body-->
                                <div class="modal-body">
                                <div class="text-center">
                                    <i class="fas fa-trash fa-4x mb-3 animated rotateIn" style="color: red;"></i>
                                    <p>Be careful. Once you delete your profile, you cannot undo it!</p>
                                </div>
                                </div>
                        
                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                <a href="{% url 'delete_user' user.id %}" type="button" class="btn btn-danger">Delete<i class="far fa-gem ml-1 text-white"></i></a>
                                <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</a>
                                </div>
                            </div>
                            <!--/.Content-->
                            </div>
                        </div>
                        <!-- Central Modal Medium Danger-->


           


                    {% elif user.is_authenticated and user.is_superuser %}

                    <button type="button" class="btn btn-danger btn-xs  mb-2 waves-effect waves-light" data-toggle="modal" data-target="#centralModalDanger">Delete 
                    </button>



                        <!-- Central Modal Medium Danger -->
                        <div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-notify modal-danger" role="document">
                            <!--Content-->
                            <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header">
                                <p class="heading lead">Delete User</p>
                        
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                </button>
                                </div>
                        
                                <!--Body-->
                                <div class="modal-body">
                                <div class="text-center">
                                    <i class="fas fa-trash fa-4x mb-3 animated rotateIn" style="color: red;"></i>
                                    <p>Be careful. Once you delete your profile, you cannot undo it!</p>
                                </div>
                                </div>
                        
                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                <a href="{% url 'delete_user' user.id %}" type="button" class="btn btn-danger">Delete<i class="far fa-gem ml-1 text-white"></i></a>
                                <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</a>
                                </div>
                            </div>
                            <!--/.Content-->
                            </div>
                        </div>
                        <!-- Central Modal Medium Danger-->


                    {% endif %}

            <a href="{% url 'edit_profile' %}" class="btn btn-success btn-xs waves-effect mb-2 waves-light " role="button">Update Profile</a>
            


            <!-- <div class="rounded-circle" style="background-image: url('{{ MEDIA_URL }}{{ profile.image }}')"></div> -->

            {% if user.profile.bio %}
            <div class="text-left mt-3">
                <h4 class="font-13 text-uppercase">About Me :</h4>
                <p class="text-muted font-13 mb-3">
                    {{ user.profile.bio  }}
                </p>
            {% else %}

            <div class="text-left mt-3">
                <h4 class="font-13 text-uppercase">About Me :</h4>
                <p class="text-muted font-13 mb-3">
                    Hi I'm Johnathn Deo,has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of type.
                </p>
                <!-- <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ml-2">I AM A ROBOT</span></p> -->

            {% endif %}


                <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ml-2 ">{{ profile.email }}</span></p>

                <p class="text-muted mb-2 font-13"><strong>Location :</strong> <span class="ml-2">{{ user.profile.location  }}</span></p>

                <p class="text-muted mb-3 font-13"><strong>Joined :</strong> <span class="ml-2">{{ user.date_joined|naturaltime }}</span></p>

                <p class="text-center text-muted mt-3 mb-2 font-13"><strong><span class=""><a class="my-1" style="color:red;" href="{% url 'logout' %}">Logout </a></span></strong></p>

                
            </div>



            <hr>


            <ul class="social-list list-inline mt-4 mb-0">
                <li class="list-inline-item">
                    <a href="https://stackoverflow.com/" class="social-list-item border-purple text-purple" target="_blank"><i class="fab fa-stack-overflow"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.google.com/" class="social-list-item border-danger text-danger" target="_blank"><i class="fab fa-google"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/" class="social-list-item border-info text-info" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/" class="social-list-item border-secondary text-secondary" target="_blank"><i class="fab fa-github"></i></a>
                </li>
            </ul>

            
        </div> <!-- end card-box -->

                        
{% endblock %}