{% extends 'base.html' %} 

{% load bootstrap_tags %}

{% block page_title %}User Registration Page{% endblock %} 

{% block page_heading %}User Registration Page{% endblock %}

    {% block content %}
    <p>If you already have an account, you can <a href="{% url 'login' %}">sign in here </a></p>

     <form method="POST">
 
            {% csrf_token %}

            {{ registration_form | as_bootstrap }}

            <button type="submit" class="btn btn-success">Register</button>
        </form>

        <a href="{% url 'password_reset' %}" type="button" class="mt-2 mb-3 btn btn-outline-warning" data-toggle="tooltip" data-placement="right" title="If you can find your password!"><i class="fas fa-lock"></i> Reset Password</a>
    {% endblock %}